body {
  max-width: 35em;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}

.calc-outer {
  background-color: #777;
  ;
  border: 2px solid black;
  border-radius: 18px;
  font-family: monospace;
  margin: 0 auto;
  padding: 36px;
  width: 300px;
}

.table {
  width: 100%;
}

td {
  background-color: white;
  border: 2px solid black;
  border-radius: 18px;
  cursor: pointer;
  font-size: 36px;
  padding: 12px;
  position: relative;
  transition: background-color .25s ease-out;
}

td.op {
  color: white;
  background-color: black;
}

td:hover {
  background-color: #ccc;
}

td:active {
  top: 1px;
}

.wrapper {
  padding-bottom: 36px;
}

#output {
  background-color: white;
  border: 2px solid black;
  border-radius: 18px;
  font-size: 36px;
  overflow: hidden;
  padding: 10px 20px;
  text-align: right;
}